.content__profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  margin-top: 50px;
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
}

@media screen and (max-width: 320px) {
  .content__profile {
    margin-top: 42px;
    flex-direction: column;
    gap: 36px;
  }

  .content__elements {
    margin-top: 36px;
  }
}
