.content__profile {
  width: 880px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  column-gap: 17px;
  row-gap: 20px;
}
