.footer__copy {
  font-size: 18px;
  color: #545454;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__copy {
    font-size: 14px;
    line-height: 14px;
    width: 282px;
    text-align: center;
  }
}
