.profile__avatar {
  position: relative;
  height: 120px;
  width: 120px;
}

.profile__elipse {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile__edit-avatar {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 0;
}

.profile__avatar:hover .profile__edit-avatar {
  opacity: 1;
}

.profile__edit-icon {
  position: absolute;
  top: 47px;
  left: 47px;
}

.profile__avatar-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile__container {
  display: flex;
  align-items: flex-end;
  gap: 18px;
}
.profile__name {
  margin: 0;
  line-height: 36px;
  font-style: normal;
  font-size: 42px;
  font-weight: 500;
  width: auto;
}

.profile__occupation {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.profile__edit-button {
  border: 1px solid #fff;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-image {
  width: 10px;
  height: 10px;
}

.profile__add-button {
  border: 1px solid #fff;
  max-width: 148px;
  width: 100%;
  height: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-image {
  height: 22px;
  width: 22px;
}

@media screen and (max-width: 879px) {
  .profile__container {
    gap: 0;
  }
}

@media screen and (max-width: 580px) {
  .profile__avatar-info {
    flex-direction: column;
    gap: 26.5px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 22px;
  }

  .profile__occupation {
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    margin: 14px 0 0 0;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__edit-button:hover {
    opacity: 1;
  }

  .profile__edit-image {
    width: 7.5px;
    height: 7.5px;
  }

  .profile__add-button {
    max-width: 280px;
    width: 100%;
  }

  .profile__add-button:hover {
    opacity: 1;
  }

  .profile__add-image {
    height: 16px;
    width: 16px;
  }
}
